* {
    margin: 0px;
    padding: 0px;

}

.container {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 8px;
    display:flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 4px;
}

.section-login {
    background-color: #FDBE15;
    padding: 16px;
}

.login-img {
    width: 500px;
    height: auto;
    border-image: url(../images/logo-gris.png);
    background-color: white;
}


.content {
    margin-top: 160px;
    width: 200px;
    background: #FDBE15;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #45403E;
    color: #FAFAFA;
}

.titulo {
    display:flex;
    margin-top: 15px;
  
}

.main-btn {
    width: 75%;
    background: #FDBE15;
    border: 1px solid #45403E;
    height: 45px;
    color: #FAFAFA;
    margin: 12px 0;
    border-radius: 4px;
    
}

.main-btn:hover {
    background: #45403E;
    transform: scale(0.9);
}

.inicio {
    width: 75%;
    background: #FDBE15;
    border: 1px solid #45403E;
    height: 45px;
    color: #FAFAFA;
    margin: 12px 0;
    border-radius: 4px;
}

.inicio:hover {
    background: #45403E;
    transform: scale(0.9);
}

.login-icons {
    text-decoration: none;
    color: #FAFAFA;
    margin: 42px;
}

.login-icons:hover {
    text-decoration: none;
    color: #FAFAFA;
}

.bi-facebook {
    color: blue;
}

.bi-google {
    color: #84A853;
}

.bi-facebook:hover{
    transform: scale(1.2)
}

.registromodal {
    color: #FAFAFA;
    text-decoration: none;
    
}

.registromodal:hover {
    color: #45403E;
}

.btn-modal {
    background-color: #FDBE15 !important;
    border: 1px solid #FDBE15 !important;
}

@media screen and (max-width: 992px) {
    .login-img {
      display: none;
    }
    .content {
        margin: 0px;
    }
    .login-icons {
        display: flex;
        margin: 0px;
    }
  } 